.btn-flat {
  color: white;
  padding: 8px 24px;
  margin-bottom: 2rem;
  border-radius: 4px;
  background: $red-welm;
  border: 1px solid $red-welm;
  transition: all 0.8s ease;
  opacity: 0.8;

  &:hover {
    background: $red-welm;
    color: white;
    opacity: 1;
  }
}
